.top-row #type {
    margin-left: 15px;  
}

.bottom-row {
    margin-top: 15px;
}

.bottom-row #calc-button {
    margin-left: 15px;
}

.empty-history {
    display: block;
    margin-top: 15px;
}

.warning {
    display: block;
    margin-top: 15px;
    color:red;
    font-weight: lighter;
}